<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <img src="img/refa-amirul.jpg" alt="Refa Amirul" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Refa Amirul</h1>
      <p class="lead">Sosiolog | Web Developer</p>
    </div>
  </div>
</div>